.section {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 10px;
}

.section__header {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section__title {
    padding: 20px;
    margin: 0;
}

@media (max-width: 767px) {
    .section__title {
        flex-basis: 100%;
    }
}