.form__button {
    background-color: rgb(0, 128, 128);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    border: none;
    transition: 1s;
  }
  
  .form__button:hover {
    background-color: rgb(0, 153, 153);
    transform: scale(110%);
  }
  
  @media (max-width: 700px) {
    .form__button {
        flex-basis: 100%;
    }
  }
  
  .form__newTask {
    border: 1px solid rgb(185, 185, 185);
    width: 700px;
    padding: 10px;
  }
  
  @media (max-width: 992px) {
    .form__newTask {
        width: 500px;
    }
  }
  
  @media (max-width: 700px) {
    .form__newTask {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
  }