.form {
  background-color: #fff;
  padding: 20px;
  gap: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .form {
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
  }
}

.form__textInput {
  padding: 8px;
  border: 1px solid #aaa;
  flex-grow: 1;
  overflow: auto;
}

.form__submitButton {
  padding: 8px;
  border: 1px solid teal;
  background-color: teal;
  color: white;

  display: flex;
  flex-basis: 100px;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
}

.form__submitButton:hover {
  background-color: hsl(180, 100%, 30%);
  transform: scale(1.05);
}

.form__submitButton:active {
  border: 1px solid #eee;
}

@media (max-width: 767px) {
  .form__submitButton {
      flex-basis: 100%;
  }
}