.list__tasksList {
  background-color: #fff;
  padding: 20px;
  margin: 0;
  overflow: auto;
}

.list__listItem {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 10px;
  border-bottom: 2px solid #eee;
  align-items: center;
}

.list__listItem--hidden {
  display: none;
}

.list__listButton {
  min-width: 30px;
  min-height: 30px;
  border: 1px solid green;
  background-color: green;
  color: white;
  transition: background 0.3s;
}

.list__listButton:hover {
  background-color: hsl(120, 100%, 30%);
}

.list__listButton:active {
  border: 1px solid #eee;
}

.list__taskData {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.list__taskData--done {
  text-decoration: line-through;
}

.list__listButton--changedBackground {
  border: 1px solid red;
  background-color: red;
}

.list__listButton--changedBackground:hover {
  background-color: hsl(0, 100%, 65%);
}